<!DOCTYPE HTML>
<html>
<head>
	<title>LivePhoto分享</title>
	<link href="static/css/style.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="static/images/logo.jpg" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<script src="https://cdn.apple-livephotoskit.com/lpk/1/livephotoskit.js">
</script>
<script src="static/js/jquery.min.js"></script>
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<link href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.js"></script>
<!----webfonts---->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<!-- Global CSS for the page and tiles -->
<link rel="stylesheet" href="static/css/main.css">
<script src="https://cdn.bootcss.com/layer/3.0.1/layer.js"></script>

<script type="text/javascript">
	// function sort_by_time()
	// {
	// 	$("#tiles").empty();
	// 	photo_list = {{ photo_list }}
	// };
	// function sort_by_star()
	// {
	// 		$("#tiles").empty();
	// 		var photo_list_js = {{ photo_list }};
			
	// };
	function turn_to_page(x)
	{
		
		var page = $(x).val();
		var page_link = "?page=" + page;
		location.href= page_link;
	};
</script>
<script type="text/javascript">
var $ = jQuery.noConflict();
$(function() {
	$('#activator').click(function(){
		$('#box').animate({'top':'0px'},500);
	});
	$('#boxclose').click(function(){
		$('#box').animate({'top':'-700px'},500);
	});
});
$(document).ready(function(){
				//Hide (Collapse) the toggle containers on load
				$(".toggle_container").hide(); 
				//Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
				$(".trigger").click(function(){
					$(this).toggleClass("active").next().slideToggle("slow");
						return false; //Prevent the browser jump to the link anchor
					});

			});
</script>
<style type="text/css">

</style>
</head>
<body>
	{% include "nav.html" %}
	<div id="content-main">
		<div>
			<div id="main" role="main">
				<ul id="tiles">
				

					{% for photo in photo_list %}
					<li onClick="location.href='/detail?file={{ photo.filename }}'"  >
						<div
						data-live-photo
						data-photo-src="/static/assets/{{ photo.filename }}.JPG"
						data-video-src="/static/assets/{{ photo.filename }}.mov"
						style="width: 100%; height: 320px">            
					</div>
					<div class="post-info">
						<div class="post-basic-info">
							<p ><a href="#" style="text-decoration: none;">{% if photo.describe %}
								{{ photo.describe }}
								{% else %}
								
								{% endif %}</a></p>
								
								<span><a href="#" style="text-decoration: none;"><i class="fa fa-location-arrow" aria-hidden="true"></i>
									{% if photo.location %}
									{{ photo.location }}
									{% else %}
									unknown
									{% endif %}</a></span>
									<span style="float: right;"><a href="/account/profile?username={{ photo.uploader }}"  style="text-decoration: none;"><i class="fa fa-user-circle" aria-hidden="true"></i>
										{% if photo.uploader %}
										{{ photo.uploader }}
										 </a>
										{% else %}
										anonymous

										{% endif %}</span>
										<p>{% if photo.time %}
											<i class="fa fa-clock-o" aria-hidden="true"></i>
											{{ photo.time }} UTC
											{% else %}
											<i class="fa fa-clock-o" aria-hidden="true"></i>来自未来
											{% endif %}</p>
										</div>
										<div class="post-info-rate-share">
								
								
								<div>
									<a href="#">
									<i class="fa fa-thumbs-up" aria-hidden="true" style="float: left;margin-left:1em;margin-top: 3px;"></i>
									</a>
								  <span style="font-size:0.8em;">&nbsp&nbsp{{ photo.star }}人觉得很赞</span>
								</div>

								<div class="clear"> </div>
							</div>
						</div>
					</li>
					{% endfor %}	
				</ul>
			</div>

			

		</div>
	</div>
	<div class="page-content" style="float: right;">
				{% if page_list %}
				<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
					<div class="btn-group mr-2" role="group" aria-label="First group"  >
						{% for page in page_list %}

						<input type="submit" class="btn btn-secondary page_num" name="page" value={{ page }} onClick="turn_to_page(this);"></button>
						{% endfor %}
					</div>
				</div>
				{% endif %}
			</div> 
<!-- <nav>
  <ul class="pagination" style="float: right;">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav> -->

			<br><br>
	{% include "footer.html" %}
	<script src="static/js/jquery.imagesloaded.js"></script>
	<script src="static/js/jquery.wookmark.js"></script>
	<script type="text/javascript">
	(function ($){
		var $tiles = $('#tiles'),
		$handler = $('li', $tiles),
		$main = $('#main'),
		$window = $(window),
		$document = $(document),
		options = {
		            autoResize: true, // This will auto-update the layout when the browser window is resized.
		            container: $main, // Optional, used for some extra CSS styling
		            offset: 20, // Optional, the distance between grid items
		            itemWidth:280 // Optional, the width of a grid item
		        };
		      /**
		       * Reinitializes the wookmark handler after all images have loaded
		       */
		       function applyLayout() {
		       	$tiles.imagesLoaded(function() {
		          // Destroy the old handler
		          if ($handler.wookmarkInstance) {
		          	$handler.wookmarkInstance.clear();
		          }

		          // Create a new layout handler.
		          $handler = $('li', $tiles);
		          $handler.wookmark(options);
		      });
		       }
		      /**
		       * When scrolled all the way to the bottom, add more tiles
		       */
		       //下拉自动加载
		  //      function onScroll() {
		  //       // Check if we're within 100 pixels of the bottom edge of the broser window.
		  //       var winHeight = window.innerHeight ? window.innerHeight : $window.height(), // iphone fix
		  //       closeToBottom = ($window.scrollTop() + winHeight > $document.height() - 100);

		  //       if (closeToBottom) {
		  //         // Get the first then items from the grid, clone them, and add them to the bottom of the grid
		  //         var $items = $('li', $tiles),
		  //         $firstTen = $items.slice(0, 10);
		  //         $tiles.append($firstTen.clone());

		  //         applyLayout();
		  //     }
		  // };

		      // Call the layout function for the first time
		      applyLayout();

		      // Capture scroll event.
		      // $window.bind('scroll.wookmark', onScroll);
		  })(jQuery);
		  </script>

		</body>
		</html>

